  {% extends 'app/base.html' %}
  {% load static %}

  {% block title %}Blog{% endblock %}
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">


<div class="blog-page">
    <div class="image-container">
      <img src="{% static 'image/blog.png' %}" alt="Authentication System" class="project-img">
    </div>
  <div class="container">
    <div class="blog-container">
      <form method="POST" class="blog-form">
        <h1>Blog</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>


  {% endblock %}

    
    


