

/* Ensure global styles remain untouched */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

/* Container Styling */
.login-container {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form Elements */
.login-form h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.login-form label {
  display: block;           
  margin-bottom: 8px;       
  font-weight: bold;    
  color: #333;               
  font-size: 14px;             
  text-align: left;            
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #6a3d54;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease; 
} 

.login-form button:hover {
  background-color: #d35fbe;
  transform: scale(1.05);
}
.login-form button:active {
  background-color: #d35fbe; 
  transform: scale(0.95); 
}

/* Register Link */
.login-container p {
  margin-top: 15px;
  font-size: 14px;
}

.login-container a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.login-container a:hover {
  color: rgb(237, 21, 201);
}

.msg-error {
  margin-top: 17px;
  color: red;
 

}
li{
  color: red;
 
}
.msg-success{
  color: #28a745;
  background-color: #d4edda;
  padding: 10px;                 
  border-radius: 5px;            
  margin-bottom: 10px; 
  
}
.login-form p{
  font-size: 17px;
}